nav{
    display: fex;
    justify-content: center;
    background-color: rgb(55, 74, 182);
}

a{
    padding: 10px 50px;
    color: white;
    text-decoration: none;
}

a:hover{
    padding: 10px 50px;
    background-color: rgb(24, 24, 46);
    color: white;
    transform: scale(1.2);
    text-decoration: dashed;
    overflow: hidden;
}